<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/Styles.css">

    </head>
    <body>
        {{>header}}
        <img class="portrait" src="/Images/image1.png">
        {{>footer}}
    </body>
</html>